<div class="banner">
    <div class="banner-text">
        <div class="container">
            <h1 class="display-4 text-capitalize mb-0">Got awesome ideas?</h1>
            <p class="lead">Here at IdeaPad, your awesome ideas will always be safe.</p>
            <a href="/ideas/add" class="btn btn-success btn-lg text-uppercase">get started</a>
        </div>
    </div>
</div>